
body{
  font-size: 16px;  
  
}

.col-md-9{
    position: relative;
    right: -90px;
    border: 10px solid black;
}
h2 {
    color: brown;
    font-style: italic;
    text-decoration: underline;
  }
  .well{
    background-color: rgb(182, 167, 150);
  }
  h3{
      color: rgb(214, 99, 21);
      text-decoration: underline;
      font-size: 20px;
  }
